<section>

    <div class="container" style="margin-top: 5em;">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-center">Add Category</h2>
          <form action="/admin/add-category" method="post" >  
          <label for="">Category</label>
            <input type="text" name="Category" placeholder="Enter Product Category" class="form-control" />
            <button type="submit" class="btn btn-success mt-4 mb-2">Submit</button>
          </form>
  
        </div>
        <table id="view-category" class="table mt-3">
          <thead>
              <tr>
                  <th scope="col">Sl No</th>
                  <th scope="col">Category</th>

            
                  <th scope="col">Edit</th>


              </tr>
          </thead>
          <tbody>
          <tbody>
              <% if( category.length>= 0){ %>
                  <% for(let i=1;i <=category.length; i++){ %>
                      <tr>
                          <td>
                              <%= i %>
                          </td>

                          <td>
                              <div class="d-flex align-items-center">
                                  <div class="m-r-10"><a class="btn btn-circle d-flex btn-info text-white"><i
                                              class=" mdi mdi-account-circle"></i></a>
                                  </div>
                                  <div class="">
                                      <h6 class="m-b-0 font-16">
                                          <%=category[i-1].Category %>
                                      </h6>
                                  </div>
                              </div>
                          </td>
                          <form action="/admin/delete-category?id=<%= category[i-1]._id %>" method="post">
                            <td><button type="submit" class=" btn btn-primary">Delete</button></td>
                        </form>
                

                
                    
                         
                          
                      <% } } else{ %>
                          <tr>
                              <td colspan="5">Category Not Found</td>
                          </tr>
                          <% } %>

          </tbody>
      </table>
      </div>
    </div>
  </section>